.bar {
  /*transition: x 500ms, width 500ms, fill 500ms;*/
  transition: all 500ms;
  pointer-events: all;
}

.issue {
  transition: transform 500ms;
}

.tooltip {
  transition: opacity 500ms, height 500ms;
  pointer-events: none;
  position: fixed;
  padding: 10px;
  width: 200px;
  background-color: white;
  box-shadow: 0.17rem 0.17rem 0.25rem rgba(0, 0, 0, 0.5);
}

#issue-table {
  margin: 10px;
}